.header {
  padding: 0.75rem;
  margin-block: 1.5rem;
  background-color: darkcyan;
  color: white;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.container {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem 1rem;
  place-items: center;
}
